/** Navbar CSS */

.navbar {
  padding-top: 0px !important;
}

.navbar>.container-fluid {
  padding-top: 0px !important;
  margin-top: 0px !important;
  width: 80vw;
  align-items: flex-start;
}

.nav-link {
  font-family: 'Poppins';
  color: white !important;
  font-weight: 400;
  font-size: 24px;
  margin-left: 50px !important;
  padding-top: 30px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}

.nav-linkred {
  font-family: 'Poppins';
  color: red !important;
  font-weight: 400;
  font-size: 24px;
  margin-left: 50px !important;
  padding-top: 30px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}

.nav-linkblack {
  font-family: 'Poppins';
  color: black !important;
  font-weight: 400;
  font-size: 24px;
  margin-left: 50px !important;
  padding-top: 30px;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
}

.navbar-nav>.nav-item>.active {
  font-size: 24px;
  color: black !important;
  background-color: #FBD27F;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  margin-left: 50px !important;
}

.nav-link:hover {
  font-size: 24px;
  color: black !important;
  background-color: #f0bb51;
  transition: 0.1s;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  margin-left: 50px !important;
}

.nav-linkblack:hover {
  font-size: 24px;
  color: black !important;
  background-color: #f0bb51;
  transition: 0.1s;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  margin-left: 50px !important;
}

.nav-linkred:hover {
  font-size: 30px;
  color: black !important;
  background-color: #f0bb51;
  transition: 0.1s;
  border-end-start-radius: 5px;
  border-end-end-radius: 5px;
  margin-left: 50px !important;
}



.nav-logo {
  float: left;
  width: 250px;
  padding: 10px;
  padding-top: 10px;
}

.nav-divider {
  border-left: 1px solid #EFEFEF;
  margin-top: 20px;
  margin-left: 55px;
  height: 50px;
}

.dropdown {
  position: absolute;
  top: 65px;
  right: auto;
  width: auto;
  display: none;
  
}

.nav-item:hover>.dropdown {
  display: block;
}

.logout {
  color: red;
}
.news-header{
  width: 100%;
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 50px;
  position:absolute;
  top: 100px;
}

@media screen and (max-width: 767px) {
  .news-header{
    width: 100%;
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    position:absolute;
    top: 100px;
  }
}

.climate-widget{
  position:relative;
  background-position-x: 100px;
}

@media screen and (max-width: 767px) {
  .climate-widget{
    position:-webkit-sticky;
    
  }
}


/** Navbar Mobile (Collapse Navbar) CSS */

@media screen and (max-width: 767px) {
  .bg-dark {
    padding-bottom: 0px;
  }
  .navbar-toggler {
    border: none;
    margin-right: 18px;
  }
  .navbar>.container-fluid {
    padding-top: 20px !important;
    padding-bottom: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100vw;
    background-color: #212529;
  }
  .nav-logo {
    float: left;
    width: 250px;
    padding-top: 0px;
    padding-bottom: 20px;
  }
  .nav-link {
    margin-left: 0px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
  }
  .navbar-nav>.nav-item>.active {
    font-family: 'Poppins';
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    margin-left: 0px !important;
  }
  .nav-link:hover {
    border-end-start-radius: 0px;
    border-end-end-radius: 0px;
    margin-left: 0px !important;
  }
  .nav-divider {
    display: none;
  }
  .dropdown {
    position: static;
    display: block;
    width: 100%;
    background: inherit;
    display: none;
  }

  .nav-item:hover>.dropdown {
    display: block;
  }
  
  .slider-title{
     align-content: center;
  }
}

/**news page CSS
.post-slider {
    border: 1px solid red;
  }
  
  .post-slider>.post-wrapper {
    width: 84%;
    height: 350px;
    margin: 0px auto; 
    border: 1px dashed red; 
  }
  .post-slider>.post-wrapper>.post {
    width: 350px;
    height: 300px;
    display: inline-block;
    background: transparent;
    
  } */
  
/** News Section CSS */

.news-container {
  width: 80vw;
  align-items: flex-start !important;
  padding: 0px !important;
}

.news-section {
  padding-top: 120px;
}

.news-section>.topic {
  color: #5A5A5A;
  font-size: 50px;
  padding-bottom: 20px;
}

.news-section>.sub-topic {
  color: #5A5A5A;
  font-size: 25px;
}

.news-container {
  padding-top: 20px;
}

.news-card {
  border-radius: 10px;
  border-width: 0px;
  background-color: #F3F3F3;
  margin: 8px;
  margin-bottom: 30px;
}

.news-card:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: 0.1s;
}

.news-card>.image>img {
  width: max-content;
  height: auto;
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.news-card>.card-box {
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 5px;
  margin-bottom: 10px;
}

.news-card>.card-box>.title {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #444444;
}

.news-card>.card-box>.content {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  color: #818181;
}

.news-card>.card-box>.content>.date {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 2px;
  color: #818181;
}

.news-card>.card-box>.content>.row>.col>.button {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  line-height: 2px;
  color: #818181;
}

.news-card>.card-box>.content>.row>.col-1 {
  margin-top: -11px !important;
}

.news-card>.card-box>.content>.row>.col-1>span {
  font-size: 15px;
}

.news-container>.btn {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 22px;
  color: #444444;
  background-color: #FBD27F;
  margin-top: 0px;
  margin-bottom: 140px;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.news-container>.btn:hover {
  background-color: #f0bb51;
  transition: 0.1s;
}

@media screen and (max-width: 767px) {
  .news-container {
    width: 90vw;
  }
  
}



/*verticle news section*/

.b-0 {
  bottom: 0;
}
.bg-shadow {
  background: rgba(76, 76, 76, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179, 171, 171, 0)), color-stop(49%, rgba(48, 48, 48, 0.37)), color-stop(100%, rgba(19, 19, 19, 0.8)));
  background: linear-gradient(to bottom, rgba(179, 171, 171, 0) 0%, rgba(48, 48, 48, 0.71) 49%, rgba(19, 19, 19, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0 );
}
.top-indicator {
  right: 0;
  top: 1rem;
  bottom: inherit;
  left: inherit;
  margin-right: 1rem;
}
.overflow {
  position: relative;
  overflow: hidden;
}
.zoom img {
  transition: all 0.2s linear;
}
.zoom:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.widget{
  width: 300px;
  background:fixed;
}

@media only screen and (max-device-width: 480px) {
  .widget{
      width: 300px;
  }
}



  /** Footer Section CSS */

.footer-dark {
  padding-top: 100px;
  color: #f0f9ff;
  background-color: #444444;
}

footer>.footer-container {
  width: 80vw;
  padding-bottom: 80px;
}

.footer-col-1 {
  text-align: left;
}

.footer-col-1>img {
  width: 300px;
  padding-bottom: 40px;
}

.footer-col-1>p {
  font-size: 18px;
}

.footer-col-2>ul {
  list-style: none;
}

.footer-col-2>ul>li {
  margin-bottom: 35px;
}

.footer-col-2>ul>li>a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.footer-col-2>ul>li>a:hover {
  color: #FBD27F;
}

.footer-col-3 {
  text-align: left;
}

.footer-col-3>h3 {
  font-size: 22px;
  padding-bottom: 8px;
}

.footer-col-3>form>.form-group>input {
  font-size: 20px;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
}

.footer-col-3>form>.form-group>button {
  font-weight: 300;
  font-size: 20px;
  color: #444444;
  background-color: #FBD27F;
  border: none;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 10px;
  padding-left: 70px;
  padding-right: 70px;
}

.footer-col-3>form>.form-group>button:hover {
  background-color: #f0bb51;
  transition: 0.1s;
}

.footer-col-3>.fa {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: #444444;
  background-color: white;
  border-radius: 8px;
}

.footer-col-3>.fa:hover {
  background-color: #FBD27F;
  transition: 0.1s;
}

.copyright-section {
  background-color: #383838;
  padding-top: 20px;
  text-align: left;
}

.copyright-content {
  width: 80vw;
}

.copyright-content>.row>.col>p {
  font-size: 15px;
}

@media screen and (max-width: 767px) {
  .footer-col-2>ul {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .footer-col-3 {
    padding-top: 40px;
  }

}